html {
    background-color: silver;
}
header {
    border-radius: 2em;
    background-color: black;
    color: whitesmoke;
    font-family: Impact, sans-serif;
    padding: 6px;
}
html, header {
    border: ridge;
}
a{
    color: darkslategrey;
    text-decoration: none;
}
a:hover {
    color: lightslategray;
}
a:active {
    color: antiquewhite;
}
article {
    font-weight: bold;
    text-align: center;
    padding-top: 1em ;
    font-size: large;
    margin: 6px;
}
p {
    font-weight: normal;
    font-size: medium;
    text-align: justify;
}