.bulletless {
    list-style-type: none;
}

.siteContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ingredients {
    margin: 0;
    margin-top: 20px;
    padding: 0;
}

img {
    width: 200px;
    height: 200px;
}