table{
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

th,td {
  border: 1px solid black;
  padding: 1em;
}

button {
  text-align: center;
}

.formgroup {
  margin-bottom: .5em;
}

.formgroup label {
  display: inline-block;
  width: 3em;
}

td a {
  text-decoration: none;
  margin-right: 5px;
}
